[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

click = "*"
click-default-group = "*"
dataset = "*"
envparse = "*"
pathlib = "*"
pinboard = "*"
python-frontmatter = "*"
python-slugify = "*"
titlecase = "*"


[dev-packages]

ipython = "*"
ipdb = "*"
