---
layout: default
---

<article class="post">
  <h1 class="post-title">
    {{ page.category }}
  </h1>

  <div class="posts">
    {% for post in site.categories[page.category] %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture dow %}{{ post.date | date: "%A, %B %-d, %Y" }}{% endcapture %}
      {% assign postYear = post.date | date: "%Y" %}
      {% assign postWeek = post.date | date: "%W" %}
      {% unless post.hidden %}
        {% if dow != lastdow %}
          <hr>
          <h2 class="category-title">{{ dow }}</h2>
        {% endif %}
        <blockquote cite="{{ post.external_url }}">
          {{ post.content | markdownify | remove:'<blockquote>' | remove:'</blockquote>' }}
          <footer>
            <a href="{{ post.external_url }}" rel="nofollow">{{ post.title | replace: '|', '-' }} &nbsp; <i class="fa fa-external-link" aria-hidden="true"></i></a>
          </footer>
          {% comment %}
          {% if post.categories != empty %}
            <div>
              <strong>Tags: </strong>
              {% for tag in post.categories %}
                <span><a>{{ tag }}</a></span>
              {% endfor %}
            </div>
          {% endif %}
          {% endcomment %}
        </blockquote>
      {% endunless %}
      {% capture lastyear %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture lastdow %}{{ dow }}{% endcapture %}
    {% endfor %}
  </div>
</article>
